@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

ul{
    list-style: none;
}
.list-header{
    padding: 2rem;
}
.list-header h1{
    text-align: center;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 2.5rem;
    padding: 1rem 0rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
}
.list-header-book{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
    font-size: 1.2rem;
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: #6686e6;
    color: aliceblue;
    border-radius: 0.5rem;
}

.list-book li{
    margin: 2rem 0;
}
.list-book li{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
    font-size: 1.2rem;
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: aliceblue;
    color: #6686e6;
    border-radius: 0.5rem;
    
}

.list-book div input{
    border: none;
    background-color: none;
    letter-spacing: 0.04rem;
    word-spacing: 0.1rem;
    color: #6686e6;
    text-align: center;
}
